$body-back: rgb(0, 0, 0) ;
$main-color: #ff0000;
$txt-color: #fff;

$box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;

$header-height: 8rem;
$border-radius: 30px;
$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: 'Montserrat', sans-serif;